<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h2>hello <%= displayName %>!</h2>
    <form action="/app/results/" method="post">
        <label for="time_range">Choose a time range:</label>
        <select id="time_range" name="time_range">
            <option value="long_term">long term</option>
            <option value="medium_term">medium term</option>
            <option value="short_term">short term</option>
        </select>
        <input type="hidden" id="access_token" name="access_token" value=<%= access_token %>>
        <input type="hidden" id="refresh_token" name="refresh_token" value=<%= refresh_token %>>
        <button type="submit">get results</button>
    </form>
</body>
</html>